- 
    var profile = {
        name: 'takaaki takaaki',
        adress: 'kumamoto city',
        email: 'iwamoto.takaaki@gmail.com',
        phone: '090-9999-9999',
        account: 'higo bank<br>9999999<br>takaaki iwamoto'
    }