doctype html
html(lang="jp")
  head
    title="請求書"
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    header
        h2 請求書
        .invice-date 2020/06/10 作成
        .container
            .my-profile
                .my-name Takaaki Iwamoto
                .my-address zip:862-0950 Suizenji, Chuo-ku, Kumamoto ctiy
                .my-email iwamoto.takaaki@gmail.com
                .my-phone XXX-XXXX-XXXX
    section.bill-to
        h2 お請求先
        .container
            .your-name Mr. John Smith
            .billing-term 2020/05 月分 ご請求
    section.details
        h2 請求明細
        .container
            .details-row.details-header
                .details-date 作業日
                .details-title 項目
                .details-price 金額
            .details-row
                .details-date 2020/05/05
                .details-title XXページの修正
                .details-price ¥1,000-
            .details-row
                .details-date 2020/05/05
                .details-title XXページの作成
                .details-price ¥5,000-
    section.total
        h2 請求合計
        .container
            .total-price ¥1,000-
    footer
        .container
            .billing-priod 支払い期限: 2020/06/30
            .account-number
                | XXX Bank  XXX Branch(999)<br>
                | 99999999<br>
                | Takaaki Iwamoto
            